    <!-- Footer -->
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="https://www.facebook.com/loxstocksbagels"><i class="fa fa-facebook"></i></a>
            <a href="https://www.yelp.com/biz/lox-stocks-and-bagels-eugene-2"><i class="fa fa-yelp"></i></a>
            <a href="mailto:loxstocksbagels@hotmail.com"><i class="fa fa-envelope"></i></a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a href="/">Home</a>
                ·
                <a href="/menu">Menu</a>
                ·
                <a href="/about">About</a>
                ·
                <a href="/contact">Contact</a>
            </p>
            <p style="margin-bottom: 7px;">(541) 653-9195</p>
            <p>Lox, Stocks and Bagels &copy; 2018</p>
        </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script 
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" 
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" 
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" 
        crossorigin="anonymous">
    </script>
    </body>
</html>