<% include partials/header %>
    <title>About | Lox, Stocks and Bagels</title> 
	<meta name="description" content="If you have any questions, concerns, or complaints, feel free to contact us here or email us.">
 	<meta name="keywords" content="bagels, eugene, oregon, lox, stocks, bagels, organic, food, catering, locally-sourced, about">
    <!--Stylesheets-->
    <% include partials/stylesheets %>
</head>
<body>
     <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="assets/images/style/favicon.png" style="width: 40px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/menu">Menu</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About Us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <div class="nav-links" style="color: #FFF;">
                <a id="fbook-a" href="https://www.facebook.com/loxstocksbagels"><i class="fa fa-facebook"></i></a>
                <a id="yelp-a" href="https://www.yelp.com/biz/lox-stocks-and-bagels-eugene-2"><i class="fa fa-yelp"></i></a>
                <a id="mail-a" href="mailto:loxstocksbagels@hotmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </nav>
    <!-- Main Banner Image -->
    <% include partials/banner %>
    <br>
    <br>
    <div class="body-main">
        <div class="about">
        <br>
        <img src="assets/images/slideshow/staff.jpg" style="width: 55%; display: block; margin: auto; border-radius: 2px; box-shadow: 2px 2px 5px grey;">
        <br>
        <p style="width: 90%; margin: auto;"><span style="margin-left: 40px;">Hi,</span> I'm Scott, the owner of Lox, Stocks and Bagels. I have been working in the restaurant business since 1978. I first started thinking about opening up my own place ever since I saw the empty store that we're in now. I couldn't think of what should go there or what would fit the location until finally, I realized that I would open a bagel shop. I remembered moving to Oregon in 2007 and noticing that there weren't really any real bagels here, and thus the idea to open a bagel store was born. After that, it was all just figuring out what to do and how to do it. I knew that here in Eugene we are really in to natural and organic food, so I make that one of our top priorities. We boil and bake our bagels, roll them by hand and make everything in-store. We smoke our own salmon, cure our own lox, and only use the freshest, locally sourced organic ingredients we can. We also offer coffe and espresso from Coffee Plant Roasters.<br>We are at 368 East 40th Avenue in Eugene, Oregon.</p>
        <br>
        <p style="width: 90%; margin: auto; text-align: center; color: black">Monday - 7am to 5pm <br> Tuesday - 7am to 5pm <br> Wednesday - 7am to 5pm <br> Thursday - 7am to 5pm <br> Friday - 7am to 5pm <br> Saturday - 7am to 2pm <br> Sunday - 7am to 2pm</p>
        <br>
        <p style="width: 90%; margin: auto;">If you have any questions for us you can email us at <a href="mailto:loxstocksbagels@hotmail.com">loxstocksbagels@hotmail.com</a>, or you could also call us at <span style="font-weight: 500;">(541) 653-9195</span>.</p>
        <br>
    </div>
        <br>
        <!-- Footer -->
<% include partials/footer %>