<% include partials/header %>
    <title>Menu | Lox, Stocks and Bagels</title>
    <meta name="description" content="Read our menu here.">
    <meta name="keywords" content="bagels, eugene, oregon, lox, stocks, bagels, organic, food, catering, locally-sourced, menu">
    <!--Stylesheets-->
    <% include partials/stylesheets %>
</head>
<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="assets/images/style/favicon.png" style="width: 40px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/menu">Menu <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            <div class="nav-links" style="color: #FFF;">
                <a id="fbook-a" href="https://www.facebook.com/loxstocksbagels"><i class="fa fa-facebook"></i></a>
                <a id="yelp-a" href="https://www.yelp.com/biz/lox-stocks-and-bagels-eugene-2"><i class="fa fa-yelp"></i></a>
                <a id="mail-a" href="mailto:loxstocksbagels@hotmail.com"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </nav>
	<!-- Main Banner Image -->
	<% include partials/banner %>
	<br>
	<div class="body-main">
		<div class="menu">
            <br>
            <h2 style="text-align: center;">Menu</h2>
            <h3 style="font-size: 15px;"><span style="margin-left: 40px; ">We</span> offer a variety of hand rolled, boiled and baked bagels, fresh daily soups, coffee, and espresso from Coffee Plant Roasters. Everything is made from scratch! We are dedicated to giving you the highest quality, organic bagels and food we can.</h3>
            <hr style="border-color: #C0C0C0;">
            <br>
        	<div class="menu1">
            	<h2><u>Hand Rolled Bagels</u></h2>
            	<h3>Bagel - $1.25</h3>
            	<h3>Baker's Dozen - $13.00</h3>
            	<br>
            	<h3>Bagels: Plain, Salt, Garlic, Sesamie, Poppyseed, Onion, Everything, Cinnamon Raisin, Chocolate Chip, Blueberry, Asiago Cheese, Bialy</h3>
            	<h3>Cream Cheeses: Plain, Shallot and Chive, Veggie, Artichoke Parmesan, Kimchee, Smoked Salmon, Hummus</h3>
            	<br>
            	<br>
            	<h2><u>Bagel and a Shmear</u></h2>
            	<h3>Butter, Margarine, Jam or Honey - $2.00</h3>
            	<h3>Cream Cheese - $3.00</h3>
            	<h3 style="font-size: 0.85em; line-height: 0px; padding-bottom: 0.5em;">(Specialty) - $3.50</h3>
            	<h3>Smoked Salmon - $4.50</h3>
            	<div>
            	    <h3>Peanut Butter - $3.50</h3>
            	    <h5>w/ Jam - $4.25</h5>
            	</div>
            	<h3>Brie - $7.25</h3>
            	<br>
            	<br>
            	<h2><u>Tradition!</u></h2>
            	<h3>Lox and Cream Cheese - House cured salmon served with red onions and capers - $10.00</h3>
            	<h3>White Fish Salad - House smoked white fish mixed with celery, chive, and dill <span class="subtext">(Served with thinly sliced cucumber)</span> - $11.00</h3>
            	<h3>Chopped Liver - Egg, Onion, and Schmaltz - $8.00</h3>
            	<h3>Egg Salad - Fresh Dill, Mayo, Horseradish, and Chive - $6.00</h3>
            	<br>
            	<br>
            	<h2><u>Quick Bites</u></h2>
            	<h3>Sugar Puff - Bagel Hole Rolled in Cinnamon Sugar - 4/$2.00</h3>
            	<h3>Bagel Chips - $2.00</h3>
            	<h3 style="font-size: 0.85em; line-height: 0px; padding-top: 0.25em;">w/ Hummus - $4.00</h3>
            	<h3>Fudge Brownie - $3.00</h3>
        	</div>
        	<br>
        	<div class="menu2">
            	<h1 style="text-align: center;"><u>Breakfast</u></h1>
            	<h3 style="text-align: center;"><span class="subtext">(sandwiches served with lettuce, tomato, and onion)</span></h3>
            	<div class="menu-align">
            	   <div>
            	       <h3>Fried Egg</h3>
            	   </div>
            	   <div>
            	       <h3>$4.50 <span class="subtext">w/ Cheese - $5.00</span></h3>
            	   </div>
                </div>
                <div class="menu-align">
            	   <div>
            	       <h3>Pork Roll <span class="subtext">(egg and cheese)</span>
            	   </div>
            	   <div>
            	       <h3>$6.00</h3>
            	   </div>
            	</div>
            	<div class="menu-align">
            	    <div>
            	        <h3>Pork Belly <span class="subtext">(egg and cheese)</span></h3>
            	    </div>
            	    <div>
            	        <h3>$6.00</h3>
            	    </div>
            	</div>
            	<br>
          	  	<br>
            	<h1 style="text-align: center;"><u>Lunch</u></h1>
            	<h3 style="text-align: center;"><span class="subtext">(sandwiches served with lettuce, tomato, and onion)</span></h3>
            	<div class="menu-align">
            	    <div>
            	        <h3>Soup</h3>
            	    </div>
            	    <div>
            	        <h3>(Cup - $3.00 / Bowl - $4.50)</h3>
            	    </div>
            	</div>
            	<div class="menu-align">
            	    <div>
            	        <h3>Hot Pastrami</h3>
            	    </div>
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <div>
            	        <h3>House Made Pastrami, Spicy Mustard, and Swiss</h3>
            	   </div>
            	   <div>
            	       <h3>—</h3>
            	   </div>
            	   <div>
            	       <h3>$9.00</h3>
            	   </div>
            	</div>
            	<div class="menu-align">
            	    <div>
            	        <h3>Italian Beef</h3>
            	    </div>  
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <div>
            	        <h3>Provolone and Spicy Veggies</h3>
            	    </div>
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <div>
            	        <h3>$10.00</h3>
            	    </div>
            	</div>
            	<div class="menu-align">
            	    <div>
            	        <h3>Smoked Turkey</h3>
            	    </div>
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <div>
            	        <h3>House Smoked Turkey, Avocado, Swiss</h3>
            	    </div>
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <div>
                        <h3>$7.50</h3>
            	    </div>
            	</div>
            	<div class="menu-align">
            	    <div>
            	        <h3>Veggie Bagel</h3>
            	    </div>
            	    <div>
            	        <h3>—</h3>
            	    </div>  
            	    <div>
            	        <h3>House Made Hummus, Avocado, Shredded Carrot, and Cucumber</h3>
            	    </div>
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <div>
            	        <h3>$6.00</h3>
            	    </div>
            	</div>
            	<div class="menu-align">
            	    <div>
            	        <h3>Bagel Dog</h3>
            	    </div>
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <dvi>
            	        <h3>Bacon, Cheddar / Pastrami, Swiss</h3>
            	    </dvi>
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <div>
            	        <h3>$7.00</h3>
            	    </div>
            	</div>
            	<div class="menu-align">
            	    <div>
            	        <h3>Korean Reuben</h3>
            	    </div>
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <dvi>
            	        <h3>House Made Pastrami, Kimchee, Gochujang Sauce, and Swiss Cheese</h3>
            	    </dvi>
            	    <div>
            	        <h3>—</h3>
            	    </div>
            	    <div>
            	        <h3>$9.00</h3>
            	    </div>
            	</div>
            	<br>
            	<br>
            	<h2><u>Drinks</u></h2>
            	<br>
            	<h3>Espresso -- $3.00</h3>
            	<h3>Americano -- 8 oz. - $3.00 | 12 oz. - $3.25 | 16 oz. - $3.50</h3> 
            	<h3>Macchiato -- $3.50</h3>
            	<h3>Con Panna -- $3.50</h3>
            	<h3>Cappuccino -- $3.50</h3>
            	<h3>Caffe Latte -- 8 oz. - $3.75 | 12 0z. - $4.00 | 16 oz. $4.25</h3>
            	<h3>Mocha - 8 oz. -- $4.00 | 12 0z. - $4.50 | 16 oz. $5.00</h3>
            	<h3>Shot in the Dark -- 8 oz. - $3.00 | 12 0z. - $3.25 | 16 oz. $3.50</h3>
            	<h3>Coffee - 8 oz. -- $1.50 | 12 0z. - $2.00 | 16 oz. $2.50</h3>
            	<h3>Cold Brew -- 12 oz. - 3.50 | 16 oz. 4.00</h3>
            	<h3>Hot Tea -- $2.00</h3>
            	<h3>Iced Tea -- $2.25</h3>
            	<h3>Tea Latte -- 12 oz. - $2.50 | 16 oz. $2.75</h3>
            	<h3>Chai Latte -- 12 oz. - $3.25 | 16 oz. $3.75</h3>
            	<h3>Hot Chocolate -- 12 oz. - $2.75 | 16 oz. $3.00</h3>
            	<h3>Steamer - 12 oz. -- $2.75 | 16 oz. $3.00</h3>
           	 	<h3>Soda/Lemonade -- $1.50</h3>
            	<h3>Extra Shot/Almond/Soy Milk -- $0.75</h3>
            	<h3>Flavour/Whipped Cream -- $0.50</h3>
            	<br>
            	<h4>*Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your<br> risk of foodborne illness, especially if you have a medical condition.</h4>
        	</div>
    	</div>
    	<br>
<% include partials/footer %>